OPTIONS="--storage.tsdb.path={{ monitor_prometheus_tsdb_path }}/ --config.file={{ monitor_prometheus_config_path }}/{{ monitor_prometheus_config_file }} --web.config.file={{ monitor_prometheus_config_path }}{{ monitor_prometheus_web_config_file }}"
