apiVersion: v1
baseDomain: {{ aws_base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    aws:
      type: {{ aws_ocp_worker_type }}
  replicas: {{ aws_ocp_worker_replicas | default('3') }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    aws:
      type: {{ aws_ocp_master_type | default('m5.xlarge') }}
  replicas: {{ aws_ocp_master_replicas | default('3') }}
metadata:
  creationTimestamp: null
  name: {{ aws_cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: "{{ aws_ocp_machine_network }}"
  networkType: "{{ aws_ocp_network_type }}"
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: {{ aws_region }}
    userTags:
      cluster: {{ aws_cluster_name }}
publish: External
pullSecret: '{{ aws_ocp_pull_secret }}'
sshKey: |
  {{ aws_ssh_key }}
